.rightbar {
    flex: 2.5;
    padding-left: 20px;
}

.rightbarWrapper{
    padding: 20px 20px 0 0;
}

.birthdayContainer{
    display: flex;
    align-items: center;
}

.birthdayImage{
    padding-right: 10px;
}

.birthdayText{
    font-weight: 300;
    font-size: 15px;
}

.line{
    margin: 10px 0;
    height: 4px;
}

.rightbarTitle{
    margin: 20px 0;
}

.rightbarFollowingImg{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.rightbarInfo{
    margin-bottom: 30px;
}

.rightbarInfoItem{
    margin-bottom: 10px;
}

.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: grey;
}

.rightbarInfoValue{
    font-weight: 300;
}

.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}